@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cormorant:ital,wght@0,300..700;1,300..700&family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

@media only screen and (max-width: 400px) {
  header {
  background-color: #f7cad0; /* الشريط الاعلى */
  font-size: 5px;
  padding: 0;
  text-align: center;
  color: #0a0a0a;
  font-weight: bold;
  height: 6px;}

  .navbar ul {
    list-style: none;
    font-size: 5px;
    display: flex;
    align-items: center;
    padding: 0;
  }

  .navbar .logo {
    font-size: 20px; /* حجم الخط للنص */
    font-weight: bold;
    color: #f08080;
    margin-bottom: 20px; /* لتفادي التصاق النص بالقائمة */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}





/*-----------------------------------------*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----------------------------------------*/

/* زر العودة للأعلى */
#goToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff79c6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: none; /* مخفي في البداية */
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#goToTopBtn:hover {
  background-color: #e28e8e;
}

/*-----------------------------------------*/


/* قائمة البرجر */
.burger-menu {
  display: none; /* مخفي افتراضيًا */
  flex-direction: column;
  background-color: #ffe5ec;
  padding: 10px;
  border-radius: 10px;
}
.burger-menu a {
  text-decoration: none;
  color: #333;
  padding: 10px 0;
}

/* زر البرجر */
.burger-btn {
  display: none;
  cursor: pointer;
  font-size: 24px;
  margin: 10px;
}

/* لجعل البرجر يظهر في الأجهزة الصغيرة */
@media (max-width: 768px) {
  .navbar ul {
    display: none;
  }
  .burger-btn {
    display: block;
  }
}


/*-----------------------------------------*/
header {
  background-color: #f7cad0; /* الشريط الاعلى */
  font-size: 20px;
  padding: 0;
  text-align: center;
  color: #0a0a0a;
  font-weight: bold;
  height: 30px;
}

/*----------------------------------*/
/* تنسيق القائمة المخفية */
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; /* جعل القائمة مخفية خارج الشاشة */
  width: 250px;
  height: 100%;
  background-color: #f9eff3;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 100;
  
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  text-align: center;
}

.sidebar ul li a {
  text-decoration: none;
  color: rgb(10, 2, 2);
  font-size: 18px;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #fccce5;
}

/* أيقونات وسائل التواصل الاجتماعي */
.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

/* تنسيق الزر لفتح القائمة */
.sidebar-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background-color: #fff0fa;
  color: rgb(7, 2, 2);
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 110;
  border-radius: 12px;
}

/* تأثير فتح وإغلاق القائمة */
.sidebar.open {
  right: 0;
}

/*-----------------------------------------*/

.navbar {
  display: flex;
  flex-direction: column; /* نغير إلى عمودي لتمركز النص فوق القوائم */
  justify-content: center; /* لضمان تمركز العناصر عموديًا */
  align-items: center; /* تمركز العناصر أفقيًا */
  background-color: #ffe5ec;
  height: 200px;
}

.navbar .logo {
  font-size: 70px; /* حجم الخط للنص */
  font-weight: bold;
  color: #f08080;
  margin-bottom: 20px; /* لتفادي التصاق النص بالقائمة */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Cormorant", serif;
}

.navbar ul {
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0;
}

.navbar ul li {
  margin: 0 80px; /* لضبط المسافة بين القوائم */
}

.navbar ul li a {
  text-decoration: none;
  color: #0f0f0f;
  font-weight: bold;
  font-family: 'Georgia', serif;
}

.navbar ul li a:hover {
  color: #f08080;
}

/*-----------------------------------------------*/
/* تنسيق خانة البحث */
.search-container {
  position: fixed;  /* تثبيت العنصر */
  top:    40px;        /* المسافة من الأعلى */
  left: 10px;       /* المسافة من اليسار */
  display: flex;    /* ترتيب العناصر أفقيًا */
  align-items: center;  /* لضبط العناصر عموديًا في المنتصف */
  z-index: 1000;    /* التأكد من أن خانة البحث ستكون فوق العناصر الأخرى */
  padding: 10px;
  background-color: #fff; /* خلفية بيضاء */
  border-radius: 12px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); /* إضافة ظل */
}

.search-container input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 200px;  /* تحديد عرض خانة البحث */
}

.search-container button {
  padding: 8px;
  margin-left: 5px;
  background-color: #f08082;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 12px;
}

.search-container button:hover {
  background-color: #ec5ed9;
}

/*-----------------------------------------*/

.hero {
  position: relative;
  text-align: center;
}

.hero_image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* يضيف تأثير الظل للنص */
}

.hero h1 {
  height: 200px;
  color: #fffafa;
  font-size: 80px;
  white-space: nowrap; /* هذا يخلي الكلمه في سطر واحد */
  padding: 0%;
  margin: 0%;
  font-family: 'Agu Display', serif;
}

.hero button {
  margin-top: 1px;
  margin: 0;
  padding: 10px 20px; /* الحدود التي تحيط بالنص */
  background-color: #f08082; /* اختيار لون مناسب للزر */
  border: 3px solid rgb(255, 255, 255);
  color: white;
  cursor: pointer;
  font-size: 2em;
  border-radius: 12px;
  font-family: "Vollkorn", serif;

}

.hero button:hover { /* لون */
  background-color: #ea09a241;
}

footer {
  text-align: center;
  padding: 10px;
  height: 30px;
  background-color: #f7cad0;
  color: #333;
}

/*------------------firstpage--------------------*/

#about-me {
  background: linear-gradient(to right, #ffbae8, #ffc3a0);
  padding: 20px;
  text-align: center;
  font-family: "Playfair Display", serif;

}

.container {
  max-width: 1000px; /* زيادة العرض ليتسع المحتوى بشكل جيد */
  margin: 0 auto;
}

h2 {
  font-size: 60px;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  justify-content: space-between; /* وضع الصورة والنص في الجهتين المتقابلتين */
  align-items: center;
  text-align: left; /* لجعل النص يبدأ من اليسار */
}

.about-image {
  width: 45%;
  max-width: 400px;
  border-radius: 10px;
  margin-right: 20px; /* مسافة بين الصورة والنص */
}


/*-------------------secund-------------------*/


p {
  font-size: 1.2em;
  line-height: 1.6;
  width: 50%; /* تحديد عرض النص */
  font-family: "DM Serif Display", serif;

}
.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product h2 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}

.product p {
  font-size: 14px;
  color: #666;
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.product .price {
  font-size: 16px;
  color: #000;
  font-weight: bold;
}

.product .rating {
  font-size: 16px;
  color: gold;
  margin: 5px 0;
}

.product button {
  background-color: #ff79c6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.product button:hover {
  background-color: #ff6bb3;
}


/*---------------third-----------------------*/










.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffdcf5;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 700px;
}

.image {
  flex: 1;
  max-width: 50%;
}

.image img {
  width: 100%;
  height: auto;
}

.content {
  flex: 1;
  padding: 20px;
  color: #333;
}

.image-container img {
  width: 90%;
  border-radius: 10px;
  height: 600px;
}
.image-container img {
  width: 90%;
  border-radius: 10px;
  height: 600px;
}
.text-container {
  flex: 1;
  padding: 20px;
}

.text-container h2 {
  color: #333;
  margin-bottom: 10px;
}

.text-container p {
  color: #555;
  line-height: 1.6;
  margin: 10px 0;
}

.text-container .price {
  font-weight: bold;
  font-size: 24px;
  color: #000;
}

.color-options {
  display: flex;
  gap: 10px;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.order-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff6f91;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.order-button:hover {
  background-color: #e85c7d;
}

/*----------------------------------------*/










#Shopping-cart {
  padding: 20px;
  background-color: #fce4ec;
}

.product-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #eb90d3;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
}

.product-section.reverse {
  flex-direction: row-reverse;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 500px;
  max-width: 600px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}

.text-container {
  flex: 2;
  padding: 0 100px;
  padding-left: 200px;
  padding-right: 0;
  margin-left: 70px;

}

.text-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  margin: 50px;
  padding-left: 50px;
  margin-left: 70px;

}

.text-container p {
  margin: 8px 0;
  color: #666;
  margin-left: 70px;

  
}

.text-container .price {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-top: 10px;
  margin-left: 70px;

}

.text-container .rating {
  margin: 10px 0;
  font-size: 18px;
  color: #ffa726;
  margin-left: 70px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.quantity button {
  width: 30px;
  height: 30px;
  font-size: 18px;
  background: #f8bbd0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quantity span {
  font-size: 16px;
  font-weight: bold;
}

.confirm-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  margin-left: 70px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #f06292;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 200px;
  height: 50px;
}

.confirm-button:hover {
  background-color: #e91e63;
}


/*------------five-----------------------------*/

/* نموذج الاتصال */
#contact-form {
  margin: 20px auto;
  max-width: 500px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f7cad0;
}
#contact-form input,
#contact-form textarea,
#contact-form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#contact-form button {
  background-color: #ff79c6;
  color: white;
  cursor: pointer;
}
#contact-form button:hover {
  background-color: #e28e8e;
}

/* عداد الزوار */
#visitor-counter {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  color: #333;
}




